.TodoTemplate {
  min-width: 800px;
  max-width: 1200px;
  // width가 주어진 상태에서 좌우 중앙 정렬
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #dee2e6;

  .app-title {
    background: tomato;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    background: white;
  }
}
